go 1.22

use (
	./cmd/omnifleet-all
	./pkg
	./services/auth
	./services/billing
	./services/dispatch
	./services/eta
	./services/gateway
	./services/geofencing
	./services/notifications
	./services/tracking
)
